Package: swapspace
Version: 1.11-1
Architecture: amd64
Maintainer: Jacob Adams <tookmund@gmail.com>
Installed-Size: 136
Depends: libc6 (>= 2.7), systemd-sysv | sysvinit-core
Conflicts: swapd
Section: admin
Priority: extra
Homepage: https://github.com/Tookmund/swapspace
Description: dynamic swap space manager
 Small, stable system add-on that continuously and automatically adapts
 available virtual memory space to your actual memory needs.  Claims disk space
 for use as swap space when needed; frees it up for use by the filesystem when
 not needed.
